﻿<div id="wrapper">
    <nav id="header-nav" class="navbar navbar-default navbar-static-top" role="navigation">
        <span compile="::appController.header">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" ng-click="appController.displayHome()" class="navbar-brand">{{ ::appController.applicationName }}</a>
        </div>

        <ul class="nav navbar-top-links navbar-right hidden-xs ng-scope">
		    <!--li>
		        <a href="https://github.com/marmelab/ng-admin-demo">
		            <i class="fa fa-github fa-lg"></i>&nbsp;Source
		        </a>
		    </li-->
		    <li uib-dropdown>
		        <a  uib-dropdown-toggle href="#" aria-expanded="false" ng-controller="App" aria-haspopup="true">
		            <i class="fa fa-user fa-lg"></i>&nbsp;{{model.currentUser.userName}}&nbsp;<i class="fa fa-caret-down"></i>
		        </a>
		        <ul class="dropdown-menu dropdown-user" role="menu">
		            <li><a href="?action=logout"><i class="fa fa-sign-out fa-fw"></i>Logout</a></li>
		        </ul>
		    </li>
		</ul>

		</span>
        
        <ma-menu-bar menu="::appController.menu"></ma-menu-bar>
    </nav>

    <div id="page-wrapper">
        <div ui-view></div>
    </div>
    <div id="loader"></div>
</div>

